@model IEnumerable<Autos4Sale.Web.ViewModels.CarOfferViewModel>

@{
    ViewBag.Title = "AllCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllCars</h2>
<hr />
<div>
    @foreach (var offer in Model)
    {
        <h3>@offer.Author.Email</h3>
        <h3>@offer.Brand</h3>
        <h3>@offer.Model</h3>
        <h3>@offer.YearManufacured</h3>
        <h3>@offer.ModifiedOn</h3>

        <div>
            Images:
            @foreach (var item in offer.Image)
            {
                <tr>
                    <td><img src="~/Images/@item.ImageUrl" width="150" height="100" /></td>
                </tr>
            }

        </div>
        <hr />
    }
</div>

