@model IEnumerable<Autos4Sale.Web.ViewModels.CarOfferViewModel>

@{
    ViewBag.Title = "AllCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllCars</h2>
<hr />
<div>
    @foreach (var offer in Model)
    {
        <h4>@offer.Author.Email</h4>
        <h4>@offer.Brand</h4>
        <h4>@offer.Model</h4>
        <h4>@offer.YearManufacured</h4>
        <h4>@offer.ModifiedOn</h4>

        <div>
            @foreach (var item in offer.Image)
            {
                <tr>
                    <td><img src="~/Images/@item.ImageUrl" class="img-thumbnail" /></td>
                </tr>
            }

        </div>
        <hr />
    }
</div>

