@model Autos4Sale.Web.ViewModels.Shared.CarOfferViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Car Details</h2>
<hr />
<div class="main-container">
    @{
        <div class="well">
            <div class="img-container">
                @foreach (var item in Model.Image)
                {
                    <tr>
                        <td><img src="~/Images/@item.ImageUrl" class="img-thumbnail" /></td>
                    </tr>
                }
            </div>
            <div class="text-container">
                <h4><strong>@Model.Brand @Model.Model</strong></h4>
                <h4 class="price"><strong>€@Model.Price</strong></h4>
                <h5><strong>Year Manufactured:</strong> @Model.YearManufacured</h5>
                <h5><strong>Category:</strong> @Model.CarCategory</h5>
                <h5><strong>Color:</strong> @Model.Color</h5>
                <h5><strong>Engine:</strong> @Model.Engine</h5>
                <h5><strong>Transmission:</strong> @Model.Transmission</h5>
                <h5><strong>Horse Power:</strong> @Model.HorsePower</h5>
                <h5><strong>Mileage:</strong> @Model.Mileage Km</h5>
                <h5><strong>Phone:</strong>@Model.SellersCurrentPhone</h5>
                <h5><strong>Location:</strong> @Model.Location</h5>
                <h5><strong>Year Manufactured:</strong> @Model.YearManufacured</h5>
                <h5><strong>Date Added:</strong> @Model.ModifiedOn</h5>

                <h5><strong>Vehicle Description: </strong></h5>
                <h5>@Model.Description</h5>
                <br />
                <h5><strong>Added By: </strong>@Model.Author.UserName</h5>
            </div>
        </div>
    }
</div>

